<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="content profile-content">
      <h3 class="text-center">Your Bookmarks</h3>
      <br>
      <div ng-if="currentUser && currentUser.jobs.length === 0" class="text-center">
        <p class="bottom-margin">You don't have any bookmarks yet!</p>
        <a href="/" class="btn btn-cta bottom-margin">Search Jobs</a>
      </div>
      <div ng-repeat="job in currentUser.jobs">
        <p>
          <i class="fa fa-bookmark"></i>
          &nbsp;&nbsp;{{job.title}}
          &nbsp;&nbsp;<a href="/jobs/{{job.guid}}" class="normal">View details &raquo;</a>
        </p>
        <hr ng-show="!$last">
      </div>
    </div>
  </div>
</div>