<div class="row">
  <div class="col-sm-1"></div>

  <div class="col-sm-5 signup-col">
    <h3>Job Seekers</h3>
    <p>Create a job seeker profile to save the jobs you discover.</p>
    <form ng-submit="userNew.createSeeker(newUserSeek, newSeeker)">
      <p ng-show="userNew.errorMsgSeek" class="error-msg">We're sorry, and error has occured. Please try again.</p>
      <p>
        <input type="text" ng-model="newSeeker.first_name" class="form-control" placeholder="First Name" required autofocus>
      </p>
      <p>
        <input type="text" ng-model="newSeeker.last_name" class="form-control" placeholder="Last Name" required>
      </p>
      <p ng-show="userNew.emailMsgSeek" class="error-msg">An account with that email already exists.</p>
      <p>
        <input type="text" ng-model="newUserSeek.email" class="form-control" placeholder="Email" required>
      </p>
      <p ng-show="userNew.passLenMsgSeek" class="error-msg">Password must be at least 6 characters.</p>
      <p ng-show="userNew.passConfMsgSeek" class="error-msg">Password must match password confirmation.</p>
      <p>
        <input type="password" ng-model="newUserSeek.password" class="form-control" placeholder="Password" required>
      </p>
      <p>
        <input type="password" ng-model="newUserSeek.password_confirmation" class="form-control" placeholder="Password Confirmation" required>
      </p>
      <p>
        <button class="btn btn-primary">Create Profile</button>
      </p>
    </form>
  </div>

  <div class="col-sm-5 signup-col">
    <h3>Companies</h3>
    <p>Create a company profile to add your current job postings. We use data from CrunchBase to populate your company page. If you don't have a CrunchBase account, you can sign up for one <a href="http://www.crunchbase.com/account/signup" target="_blank">here</a>.</p>
    <form ng-submit="userNew.createCompany(newUserComp, newCompany)">
      <p ng-show="userNew.errorMsgComp" class="error-msg">We're sorry, and error has occured. Please try again.</p>
      <p ng-show="userNew.nameMsgComp" class="error-msg">A company with that name already exists.</p>
      <p>
        <input type="text" ng-model="newCompany.name" class="form-control" placeholder="Company Name" required>
      </p>
      <p ng-show="userNew.emailMsgComp" class="error-msg">An account with that email already exists.</p>
      <p>
        <input type="text" ng-model="newUserComp.email" class="form-control" placeholder="Email" required>
      </p>
      <p ng-show="userNew.passLenMsgComp" class="error-msg">Password must be at least 6 characters.</p>
      <p ng-show="userNew.passConfMsgComp" class="error-msg">Password must match password confirmation.</p>
      <p>
        <input type="password" ng-model="newUserComp.password" class="form-control" placeholder="Password" required>
      </p>
      <p>
        <input type="password" ng-model="newUserComp.password_confirmation" class="form-control" placeholder="Password Confirmation" required>
      </p>
      <p>
        <button class="btn btn-primary">Create Profile</button>
      </p>
    </form>
  </div>

  <div class="col-sm-1"></div>
</div>