<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="content bottom-margin">
      <p>
        <i class="fa fa-search"></i>&nbsp;&nbsp;
        <!-- show selected searches -->
        <span ng-if="allSearches.length > 0">
          <span ng-repeat="search in allSearches">{{search}}&nbsp;&nbsp;</span>
        </span>
      </p>
      <hr>
      <form class="form-inline">
        <div class="form-group">
          
          <!-- role search -->
          <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Role
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="role in roles"><a href="#" ng-click="addRoleToSearch(role.slug)">{{role.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          
          <!-- location search -->
          <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Location
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="loc in locations"><a href="#" ng-click="addLocToSearch(loc.slug)">{{loc.city || loc.slug}}</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <!-- show all jobs -->
    <div ng-if="jobs.length > 0">
      <h4 class="text-center bottom-margin">{{jobs.length}} jobs</h4>
      <div ng-repeat="job in jobs" class="content bottom-margin">
        
        <span class="pull-right favorite-icon"><a href="#" class="normal"><i class="fa fa-star-o"></i></a></span>
        
        <p class="normal">{{job.title}}</p>
        <p ng-if="job.roles.length > 0"><span ng-repeat="role in job.roles" class="btn btn-xs btn-light btn-flag">{{role.name}}</span></p>
        <div ng-if="job.locations.length > 0">
          <hr>
          <p>
            <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;<span ng-repeat="loc in job.locations">{{loc.city || loc.slug}}{{$last ? '' : ', '}}</span>
          </p>
        </div>
        <hr>
        <div ng-bind-html="job.description | sanitizeLimit:500"></div>
        <hr>
        <p><i class="fa fa-external-link"></i>&nbsp;&nbsp;www.website.com</p>
        <p class="no-margin"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;email@example.com</p>
        
        <!-- <p class="no-margin">
          <span><a href="#" class="normal"><i class="fa fa-bookmark-o"></i>&nbsp;&nbsp;Save to Bookmarks</a></span>
          <span class="pull-right"><a ng-href="/jobs/{{job.guid}}" class="normal">View Details</a></span>
        </p> -->
      </div>
    </div>
  </div>
</div>