<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div ng-if="(roles.length > 0 && locations.length > 0) && (jobs.length > 0 || filtering)" class="content">
      <p>
        <i class="fa fa-search"></i>&nbsp;&nbsp;
        <span ng-hide="allSearches.length > 0" class="normal">Filter jobs</span>
        <!-- show selected searches -->
        <span ng-show="allSearches.length > 0">
          <span ng-repeat="search in allSearches">{{search.name || search.city || search.slug}}&nbsp;&nbsp;</span>
        </span>
      </p>
      <hr>
      
      <form class="form-inline">
        <div class="form-group">
          
          <!-- role search -->
          <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Role
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="role in roles"><a href="#" ng-click="addRoleToSearch(role)">{{role.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          
          <!-- location search -->
          <div class="dropdown">
            <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Location
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li ng-repeat="loc in locations"><a href="#" ng-click="addLocToSearch(loc)">{{loc.city || loc.slug}}</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

    <div ng-hide="jobs.length > 0 || filtering" class="text-center">
      <h3>Finding your next job&#8230;</h3>
      <h3><i class="fa fa-hourglass-half"></i></h3>
    </div>

    <!-- show all jobs -->
    <div ng-show="jobs.length > 0 || filtering">
      <h4 class="text-center bottom-margin">{{jobs.length}} jobs</h4>
      
      <div ng-repeat="job in jobs" class="content">
        <span class="pull-right bookmark-icon"><a href="#" ng-mouseenter="fillBookmark = true" ng-mouseleave="fillBookmark = false"><i class="fa" ng-class="{'fa-bookmark-o': !fillBookmark, 'fa-bookmark': fillBookmark}"></i></a></span>
        
        <p class="normal">{{job.title}}</p>
        <p ng-if="job.roles.length > 0"><span ng-repeat="role in job.roles" class="btn btn-xs btn-light btn-flag">{{role.name}}</span></p>
        <div ng-if="job.locations.length > 0">
          <hr>
          <p><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;<span ng-repeat="loc in job.locations">{{loc.city || loc.slug}}{{$last ? '' : ', '}}</span></p>
        </div>
        <hr>
        <div ng-bind-html="job.description | sanitizeLimit:500:job.guid"></div>

        <hr>
        <p><i class="fa fa-external-link"></i>&nbsp;&nbsp;www.website.com</p>
        <p class="no-margin"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;email@example.com</p>
      </div>
    </div>

    <p ng-if="jobs.length > 0" class="bottom-margin">Jobs c/o Hacker News Who's Hiring {{date | date:"MMM ''''yy"}}</p>

  </div>
</div>