<div class="row">
  <div class="col-sm-12">
    <div class="clearfix">
      <img ng-show="company.profile.relationships.primary_image.items[0].path" class="company-img" src="http://a5.images.crunchbase.com/{{company.profile.relationships.primary_image.items[0].path}}">
      <h1>{{company.company.name}}</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">

    <div ng-show="company.profile">
      <h3 ng-show="company.profile.properties.short_description">About</h3>
      <p>{{company.profile.properties.short_description}}</p>

      <h3>Details</h3>
      <p ng-show="company.profile.relationships.offices.items[0].city || company.profile.relationships.offices.items[0].region">
        <strong>Location:</strong> 
        {{company.profile.relationships.offices.items[0].city}}, 
        {{company.profile.relationships.offices.items[0].region}}
      </p>
      <p ng-show="company.profile.properties.founded_on"><strong>
        Founded:</strong> 
        {{company.profile.properties.founded_on | date}}
      </p>
      <p ng-show="company.profile.properties.total_funding_usd">
        <strong>Total Funding:</strong> 
        {{company.profile.properties.total_funding_usd | currency: "$"}}
      </p>
      <p ng-show="company.profile.properties.number_of_employees">
        <strong>Size:</strong> 
        {{company.profile.properties.number_of_employees}} employees
      </p>
      <p ng-show="company.profile.properties.homepage_url">
        <span ng-show="company.profile.properties.homepage_url"><a href="{{company.profile.properties.homepage_url}}" target="_blank">Homepage</a></span> | 
        <a href="http://www.crunchbase.com/{{company.company.crunchbase_path}}" target="_blank">CrunchBase</a>
      </p>

      <h3 ng-show="company.profile.relationships.current_team.items">Team</h3>
      <div ng-repeat="person in company.profile.relationships.current_team.items">
        <p>
          <a href="http://www.crunchbase.com/{{person.path}}" target="_blank">
            {{person.first_name}} {{person.last_name}}
          </a>, 
          {{person.title}}
        </p>
      </div>
    </div>

    <div ng-hide="company.profile" class="no-crunchbase">
      <p>No company information from CrunchBase</p>
      <!-- if current user (company) provide a link to create CB profile-->
    </div>
  </div>

  <div class="col-sm-4">
    <h3>Current Job Openings</h3>
  </div>

  <div class="col-sm-4">
    <h3 ng-show="company.profile.relationships.news.items">News</h3>
    <div ng-repeat="article in company.profile.relationships.news.items | orderBy : -'created_at'">
      <p ng-show="article.posted_on"><a href="{{article.url}}" target="_blank">{{article.title}}</a></p>
    </div>
  </div>
</div>