<!-- start top row -->
<div class="row">
  <div class="col-sm-12">
    <!-- hide company logo & name when editing company profile -->
    <div ng-hide="company.editForm" class="clearfix">
      <img ng-show="company.profile.relationships.primary_image.items[0].path" class="company-img" src="http://a5.images.crunchbase.com/{{company.profile.relationships.primary_image.items[0].path}}">
      <h1>{{company.company.name}}</h1>
    </div>
  </div>
</div>
<!-- end top row -->


<div class="row">
  <!-- start left column -->
  <div class="col-sm-4">
    <!-- only show CrunchBase data if profile exists -->
    <div ng-show="company.profile">

      <!-- about (short description) -->
      <h3 ng-show="company.profile.properties.short_description">About</h3>
      <p>{{company.profile.properties.short_description}}</p>
      
      <!-- company details -->
      <h3>Details</h3>
      <p ng-show="company.profile.relationships.offices.items[0].city || company.profile.relationships.offices.items[0].region">
        <strong>Location:</strong> 
        {{company.profile.relationships.offices.items[0].city}}, 
        {{company.profile.relationships.offices.items[0].region}}
      </p>
      <p ng-show="company.profile.properties.founded_on"><strong>
        Founded:</strong> 
        {{company.profile.properties.founded_on | date}}
      </p>
      <p ng-show="company.profile.properties.total_funding_usd">
        <strong>Total Funding:</strong> 
        {{company.profile.properties.total_funding_usd | currency: "$"}}
      </p>
      <p ng-show="company.profile.properties.number_of_employees">
        <strong>Size:</strong> 
        {{company.profile.properties.number_of_employees}} employees
      </p>
      <p ng-show="company.profile.properties.homepage_url">
        <span ng-show="company.profile.properties.homepage_url"><a href="{{company.profile.properties.homepage_url}}" target="_blank">Homepage</a></span> | 
        <a href="http://www.crunchbase.com/{{company.company.crunchbase_path}}" target="_blank">CrunchBase</a>
      </p>

      <!-- current team -->
      <h3 ng-show="company.profile.relationships.current_team.items">Team</h3>
      <div ng-repeat="person in company.profile.relationships.current_team.items">
        <p>
          <a href="http://www.crunchbase.com/{{person.path}}" target="_blank">
            {{person.first_name}} {{person.last_name}}
          </a>, 
          {{person.title}}
        </p>
      </div>
    </div>

    <!-- show 'no CrunchBase' message if profile does not exist -->
    <div ng-hide="company.profile" class="no-crunchbase">
      <p>No company information from CrunchBase</p>
      <!-- if current user (company) provide a link to create CB profile-->
    </div>
  </div>
  <!-- end left column -->

  <!-- start center column -->
  <div class="col-sm-4">
    <!-- start job section (hide when editing company profile)-->
    <div ng-hide="company.editForm">
      <!-- hide when adding new job -->
      <div ng-hide="company.newJobForm">
        <!-- hide when editing a job posting -->
        <div ng-hide="company.editJobHide">

          <!-- show update message when company profile updated -->
          <p ng-show="company.updateMsg" class="success-msg">Profile updated successfully.</p>

          <!-- toggle headers based on presence of job postings -->
          <!-- jobsToggle handles situation when last job is deleted -->
          <h3 ng-hide="company.company.jobs" ng-show="company.jobsToggle">No Job Postings Yet</h3>
          <h3 ng-show="company.company.jobs" ng-hide="company.jobsToggle">Current Job Openings</h3>

          <!-- button to post new job (show form) -->
          <button ng-click="company.showNewJobForm()" class="btn btn-primary">Post a Job</button>

        </div>
        <!-- end hide for editing a job posting -->
      </div>
      <!-- end hide for adding new job-->

      <!-- form to add new job -->
      <h3 ng-show="company.newJobForm">Add a New Job</h3>
      <form ng-show="company.newJobForm" ng-submit="company.addJob(newJob)" class="new-form">
        <p>
          <input type="text" ng-model="newJob.title" class="form-control" placeholder="Title" required autofocus>
        </p>
        <p>
          <input type="text" ng-model="newJob.location" class="form-control" placeholder="Location (City, State)" required>
        </p>
        <p>
          <select ng-model="newJob.category" class="form-control options" required>
            <option value="" disabled selected>Category</option>
            <option>Full Stack</option>
            <option>Front End</option>
            <option>Back End</option>
            <option>Mobile - iOS</option>
            <option>Mobile - Android</option>
            <option>Other</option>
          </select>
        </p>
        <p>
          <textarea ng-model="newJob.description" class="form-control" placeholder="Description" required></textarea>
        </p>
        <p>
          <textarea ng-model="newJob.how_to_apply" class="form-control" placeholder="How to Apply" required></textarea>
        </p>
        <!-- <p>
          <input type="text" ng-model="newJob.skills" class="form-control" placeholder="Skills / Languages (separated by commas)" required>
        </p> -->
        <p>
          <button class="btn btn-primary">Save Job</button>
        </p>
      </form>
      <!-- end form to add new job -->

      <!-- start list of current job postings -->
      <!-- hide entire list when adding new job -->
      <div ng-hide="company.newJobForm" ng-repeat="job in company.company.jobs | orderBy: '-created_at'">
        
        <!-- hide job elements individually when editing a specific job -->
        <h5 ng-hide="company.editJobHide">
          <a href="/companies/{{company.company.id}}/jobs/{{job.id}}">{{job.title}}</a>

          <!-- click icons to edit/delete jobs -->
          <span ng-click="company.editJob(job)" class="glyphicon glyphicon-pencil edit-job"></span>
          <span ng-click="company.deleteJob(job)" class="glyphicon glyphicon-trash delete-job"></span>
        </h5>

        <!-- hide job elements individually when editing a specific job -->
        <p ng-hide="company.editJobHide">{{job.location}} | {{job.category}}</p>
        <div ng-hide="company.editJobHide">

          <!-- list of skills related to a job -->
          <p ng-show="job.skills">
            <span class="skill"><strong>Skills:</strong></span>
            <span ng-repeat="skill in job.skills">
              <span class="skill"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
            </span>
          </p>
        </div>

        <!-- form to edit a job -->
        <h3 ng-show="job.editJobForm">Edit Job</h3>
        <form ng-show="job.editJobForm" ng-submit="company.updateJob(job)" class="edit-form">
          <p>
            <input type="text" ng-model="job.title" class="form-control" placeholder="Title" required autofocus>
          </p>
          <p>
            <input type="text" ng-model="job.location" class="form-control" placeholder="Location (City, State)" required>
          </p>
          <p>
            <select ng-model="job.category" class="form-control options" required>
              <option value="" disabled selected>Category</option>
              <option>Full Stack</option>
              <option>Front End</option>
              <option>Back End</option>
              <option>Mobile - iOS</option>
              <option>Mobile - Android</option>
              <option>Other</option>
            </select>
          </p>
          <p>
            <textarea ng-model="job.description" class="form-control" placeholder="Description" required></textarea>
          </p>
          <p>
            <textarea ng-model="job.how_to_apply" class="form-control" placeholder="How to Apply" required></textarea>
          </p>
          <p>
            <button class="btn btn-primary">Save Job</button>
          </p>
        </form>
        <!-- end form to edit a job -->
      </div>
      <!-- end list of current job postings -->
    </div>
    <!-- end job section -->

    <!-- buttons to edit/delete company profile -->
    <div ng-hide="company.editForm" class="edit-btns">
      <div ng-hide="company.newJobForm">
        <div ng-hide="company.editJobHide">
          <button ng-click="company.editCompany()" class="btn btn-primary">Edit Profile</button> <button ng-click="company.deleteCompany()" class="btn btn-danger">Delete Profile</button>
        </div>
      </div>
    </div>

    <!-- form to edit company profile -->
    <h3 ng-show="company.editForm">Edit Your Profile</h3>
    <form ng-show="company.editForm" ng-submit="company.updateCompany()" class="edit-form">
       <p ng-show="company.nameMsg" class="error-msg">A company with that name already exists.</p>
      <p>
        <input type="text" ng-model="company.company.name" class="form-control" placeholder="Name" required autofocus>
      </p>
      <p ng-show="company.emailMsg" class="error-msg">An account with that email already exists.</p>
      <p>
        <input type="text" ng-model="company.company.user.email" class="form-control" placeholder="Email" required>
      </p>
      <p>
        <button class="btn btn-primary">Save Profile</button>
      </p>
    </form>
    <!-- end form to edit company profile -->
  </div>
  <!-- end center column -->

  <!-- start right column -->
  <div class="col-sm-4">
    <!-- only show news if articles from CrunchBase exist -->
    <h3 ng-show="company.profile.relationships.news.items">News</h3>
    <div ng-repeat="article in company.profile.relationships.news.items | orderBy : '-created_at' | limitTo: 10">
      <p><a href="{{article.url}}" target="_blank">{{article.title}}</a></p>
    </div>
  </div>
  <!-- end right column -->
</div>