<!-- start top row -->
<div ng-show="company.company" class="row">
  <div class="col-sm-12">
    <!-- hide company logo & name when editing company profile -->
    <div ng-hide="company.editForm" class="clearfix">
      <img ng-show="company.profile.relationships.primary_image.items[0].path" class="company-img" src="http://a5.images.crunchbase.com/{{company.profile.relationships.primary_image.items[0].path}}">
      <h1 id="company-name">{{company.company.name | uppercase}}</h1>
    </div>
  </div>
</div>
<!-- end top row -->


<div ng-show="company.company" class="row">
  <!-- start left column -->
  <div class="col-sm-4">
    <!-- only show CrunchBase data if profile exists -->
    <div ng-show="company.profile">

      <!-- about (short description) -->
      <h3 ng-show="company.profile.properties.short_description">About</h3>
      <p class="about-company">{{company.profile.properties.short_description}}</p>
      
      <!-- company details -->
      <h3>Details</h3>
      <p ng-show="company.profile.relationships.offices.items[0].city || company.profile.relationships.offices.items[0].region">
        <span class="weight">Location:</span> 
        {{company.profile.relationships.offices.items[0].city}}, 
        {{company.profile.relationships.offices.items[0].region}}
      </p>
      <p ng-show="company.profile.properties.founded_on">
        <span class="weight">Founded:</span> 
        {{company.profile.properties.founded_on | date}}
      </p>
      <p ng-show="company.profile.properties.total_funding_usd">
        <span class="weight">Total Funding:</span> 
        {{company.profile.properties.total_funding_usd | currency: "$"}}
      </p>
      <p ng-show="company.profile.properties.number_of_employees">
        <span class="weight">Size:</span> 
        {{company.profile.properties.number_of_employees}} employees
      </p>
      <p ng-show="company.profile.properties.homepage_url" class="company-links weight"><a href="{{company.profile.properties.homepage_url}}" target="_blank">HOMEPAGE <span class="mini-arrow">&#10172;</span></a></p>
      <p class="company-links weight"><a href="http://www.crunchbase.com/{{company.company.crunchbase_path}}" target="_blank">CRUNCHBASE <span class="mini-arrow">&#10172;</span></a></p>

      <!-- current team -->
      <h3 ng-show="company.profile.relationships.current_team.items">Team</h3>
      <div ng-repeat="person in company.profile.relationships.current_team.items">
        <p>
          <a href="http://www.crunchbase.com/{{person.path}}" target="_blank">
            <span class="weight">{{person.first_name}} {{person.last_name}}</span>
          </a>, 
          {{person.title}}
        </p>
      </div>
    </div>

    <!-- show 'no CrunchBase' message if profile does not exist -->
    <p ng-hide="company.profile" class="no-crunchbase weight">
      No company information from CrunchBase.
      <!-- <span ng-show="currentUser.company.id == company.company.id"></span>Sign up for an account <a href="http://www.crunchbase.com/account/signup" target="_blank">here</a>. -->
    </p>
  </div>
  <!-- end left column -->

  <!-- start center column -->
  <div class="col-sm-4">
    <!-- start job section (hide when editing company profile)-->
    <div ng-hide="company.editForm">
      <!-- hide when adding new job -->
      <div ng-hide="company.newJobForm">
        <!-- hide when editing a job posting -->
        <div ng-hide="company.hideWhenEditingJob">

          <!-- show update message when company profile updated -->
          <p ng-show="company.updateMsg" class="success-msg">Profile updated successfully. <span ng-click="company.exitUpdateMsg()" class="exit">X</span></p>

          <!-- show success message when company deletes a job (from job show page) -->
          <p ng-show="deleteMsg" class="success-msg">Successfully deleted job. <span ng-click="company.exitDeleteMsg()" class="exit">X</span></p>

          <!-- toggle headers based on presence of job postings -->
          <!-- jobsToggle handles situation when last job is deleted -->
          <h3 ng-hide="company.company.jobs" ng-show="company.jobsToggle">No Job Postings Yet</h3>
          <h3 ng-show="company.company.jobs" ng-hide="company.jobsToggle">Current Job Openings</h3>

          <!-- click to post new job (show form) -->
          <h5 ng-show="currentUser.company.id == company.company.id" ng-click="company.showNewJobForm()" id="post-job"><span class="plus">+</span>POST A JOB</h5>

        </div>
        <!-- end hide for editing a job posting -->
      </div>
      <!-- end hide for adding new job-->

      <!-- form to add new job -->
      <h3 ng-show="company.newJobForm">Add a New Job <span ng-click="company.exitNewForm()" class="exit" id="h3-exit">X</span></h3>
      <form ng-show="company.newJobForm" ng-submit="company.addJob(newJob)" class="new-form">
        <div class="form-group">
          <input type="text" ng-model="newJob.title" class="form-control" placeholder="Title" required autofocus>
        </div>
        <div class="form-group">
          <input type="text" ng-model="newJob.location" class="form-control" placeholder="Location" required>
        </div>
        <div class="form-group">
          <select ng-model="newJob.category" class="form-control options" required>
            <option value="" disabled selected>Category</option>
            <option>Full Stack</option>
            <option>Front End</option>
            <option>Back End</option>
            <option>Mobile - iOS</option>
            <option>Mobile - Android</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <textarea ng-model="newJob.description" class="form-control" placeholder="Description" required></textarea>
        </div>
        <div class="form-group">
          <textarea ng-model="newJob.how_to_apply" class="form-control" placeholder="How to Apply" required></textarea>
        </div>
        <div class="form-group">
          <input type="text" ng-model="newJob.skills" class="form-control" placeholder="Skills / Languages (separated by commas)" required>
        </div>
        <div class="form-group">
          <button class="save-btn">Add Job</button>
        </div>
      </form>
      <!-- end form to add new job -->

      <!-- start list of current job postings -->
      <!-- hide entire list when adding new job -->

        <div ng-show="company.company.jobs" ng-hide="company.newJobForm || company.hideWhenEditingJob || company.jobsToggle" id="job-list-top"></div>

        <div ng-hide="company.newJobForm" ng-repeat="job in company.company.jobs | orderBy: '-created_at'" class="job">
          
          <!-- hide job elements individually when editing a specific job -->
          <h4 ng-hide="company.hideWhenEditingJob">
            <a href="/companies/{{company.company.id}}/jobs/{{job.id}}">{{job.title}}</a>

            <!-- click icons to edit/delete jobs -->
            <span ng-show="currentUser.company.id == company.company.id" ng-click="company.editJob(job)" class="glyphicon glyphicon-pencil pencil-edit"></span>

            <span ng-show="currentUser.company.id == company.company.id" ng-click="company.deleteJob(job)" class="glyphicon glyphicon-trash trash-delete"></span>

            <!-- currentUser (seeker) can favorite jobs -->
            <span ng-show="currentUser.is_seeker">
              <span ng-hide="job.favorited" ng-click="favorite(currentUser.seeker, job)" class="glyphicon glyphicon-star-empty star"></span>
              <span ng-show="job.favorited" ng-click="unfavorite(currentUser.seeker, job)" class="glyphicon glyphicon-star star"></span>
            </span>
          </h4>

          <!-- show update message when a job is updated -->
          <p ng-show="job.updateJobMsg" class="success-msg">Job updated successfully. <span ng-click="company.exitUpdateJobMsg(job)" class="exit">X</span></p>

          <!-- hide job elements individually when editing a specific job -->
          <p ng-hide="company.hideWhenEditingJob" class="sub-heading">
            <span class="category">{{job.category}}</span>
            <span>{{job.location}}</span>
            <span class="weight"><a href="/companies/{{company.company.id}}/jobs/{{job.id}}">Job Details <span class="mini-arrow">&#10172;</span></a></span>
          </p>

          <div ng-hide="company.hideWhenEditingJob">
            <!-- list of skills related to a job -->
            <!-- hide when just updated job (show skill names instead - not clickable) -->
            <p ng-show="job.skills" ng-hide="job.skill_names">
              <span class="skill weight">Skills:</span>
              <span ng-repeat="skill in job.skills">
                <span class="skill"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
              </span>
            </p>

            <!-- show string of skill names when just updated job -->
            <p ng-show="job.skill_names" ng-hide="job.skills">
              <strong>Skills:</strong> {{job.skill_names}}
            </p>
          </div>

          <!-- form to edit a job -->
          <h3 ng-show="job.editJobForm">Edit Job Posting <span ng-click="company.exitEditJobForm(job)" class="exit" id="h3-exit">X</span></h3>
          <form ng-show="job.editJobForm" ng-submit="company.updateJob(job)" class="edit-form">
            <div class="form-group">
              <input type="text" ng-model="job.title" class="form-control" placeholder="Title" required autofocus>
            </div>
            <div class="form-group">
              <input type="text" ng-model="job.location" class="form-control" placeholder="Location (City, State)" required>
            </div>
            <div class="form-group">
              <select ng-model="job.category" class="form-control options" required>
                <option value="" disabled selected>Category</option>
                <option>Full Stack</option>
                <option>Front End</option>
                <option>Back End</option>
                <option>Mobile - iOS</option>
                <option>Mobile - Android</option>
                <option>Other</option>
              </select>
            </div>
            <div class="form-group">
              <textarea ng-model="job.description" class="form-control" placeholder="Description" required></textarea>
            </div>
            <div class="form-group">
              <textarea ng-model="job.how_to_apply" class="form-control" placeholder="How to Apply" required></textarea>
            </div>
            <div class="form-group">
              <input type="text" ng-model="job.skill_names" class="form-control" placeholder="Skills / Languages (separated by commas)" required>
            </div>
            <div class="form-group">
              <button class="save-btn">Update Job</button>
            </div>
          </form>
          <!-- end form to edit a job -->
        </div>
        <!-- end list of current job postings -->
        <div ng-show="company.company.jobs" ng-hide="company.newJobForm || company.hideWhenEditingJob || company.jobsToggle" id="job-list-bottom"></div>
    </div>
    <!-- end job section -->

    <!-- buttons to edit/delete company profile -->
    <div ng-hide="company.editForm" class="edit-btns">
      <div ng-hide="company.newJobForm">
        <div ng-hide="company.hideWhenEditingJob">
          <button ng-show="currentUser.company.id == company.company.id" ng-click="company.editCompany()">Edit Profile</button> <button ng-show="currentUser.company.id == company.company.id" ng-click="company.deleteCompany()">Delete Profile</button>
        </div>
      </div>
    </div>

    <!-- form to edit company profile -->
    <h3 ng-show="company.editForm">Edit Your Profile <span ng-click="company.exitUpdateForm()" class="exit" id="h3-exit">X</span></h3>
    <form ng-show="company.editForm" ng-submit="company.updateCompany()" class="edit-form">
       <p ng-show="company.nameMsg" class="error-msg">A company with that name already exists.</p>
      <div class="form-group">
        <input type="text" ng-model="company.company.name" class="form-control" placeholder="Name" required autofocus>
      </div>
      <p ng-show="company.emailMsg" class="error-msg">An account with that email already exists.</p>
      <div class="form-group">
        <input type="text" ng-model="company.company.user.email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-group">
        <button class="save-btn">Update Profile</button>
      </div>
    </form>
    <!-- end form to edit company profile -->
  </div>
  <!-- end center column -->

  <!-- start right column -->
  <div class="col-sm-4">
    <!-- only show news if articles from CrunchBase exist -->
    <h3 ng-show="company.profile.relationships.news.items">News</h3>
    <div ng-repeat="article in company.profile.relationships.news.items | orderBy : '-created_at' | limitTo: 10" class="news">
      <p class="weight"><a href="{{article.url}}" target="_blank">{{article.title}} <span class="mini-arrow">&#10172;</span></a></p>
    </div>
  </div>
  <!-- end right column -->
</div>