<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">D A R T</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-cloak>
        <li ng-if="!isAuthenticated()"><a href="/signup">Sign Up</a></li>
        <li ng-if="!isAuthenticated()"><a href="/login">Log In</a></li>
        <li ng-if="currentUser"><a href="#">Hi {{currentUser.email}}!</a></li>
        <li ng-if="isAuthenticated()"><a href="#" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" ng-view></div>