<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-bullseye dart-logo"></i> <span class="logo-text">DART</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Jobs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-cloak>
        <li ng-if="!isAuthenticated()"><a href="/signup" class="btn btn-cta btn-nav">Sign Up</a></li>
        <li ng-if="!isAuthenticated()"><a href="/login" class="btn btn-secondary btn-nav">Log In</a></li>
        <li ng-if="currentUser"><a href="/profile">Bookmarks</a></li>
        <li ng-if="isAuthenticated()"><a href="#" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container view-wrapper" ng-view></div>