@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color-primary-1: #2b2d42;
$color-accent-1: #8d99ae;
$color-link-1: #edf2f4;
$color-hover-1: #ef233c;
$color-banner-1: #d90429;

$color-primary-2: #0b3954;
$color-accent-2: #ff6663;
$color-link-2: #bfd7ea;
$color-hover-2: #e0ff4f;
$color-banner-2: #fefffe;

$color-primary-3: #1b998b;
$color-accent-3: #2d3047;
$color-link-3: #fffd82;
$color-hover-3: #ff9b71;
$color-banner-3: #e84855;

.color {
  border: 1px solid #cccccc;
  height: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.color-1 { background-color: $color-primary-1 }
.color-2 { background-color: $color-accent-1 }
.color-3 { background-color: $color-link-1 }
.color-4 { background-color: $color-hover-1 }
.color-5 { background-color: $color-banner-1 }

.color-6 { background-color: $color-primary-2 }
.color-7 { background-color: $color-accent-2 }
.color-8 { background-color: $color-link-2 }
.color-9 { background-color: $color-hover-2 }
.color-10 { background-color: $color-banner-2 }

.color-11 { background-color: $color-primary-3 }
.color-12 { background-color: $color-accent-3 }
.color-13 { background-color: $color-link-3 }
.color-14 { background-color: $color-hover-3 }
.color-15 { background-color: $color-banner-3 }

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
  background-color: $color-link-1;
  color: $color-primary-1;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h4 {
  font-weight: normal;
  margin-bottom: 20px;
}
a, a:focus {
  color: $color-primary-3;
  text-decoration: none;
}
a:hover {
  color: #167a6f;
  text-decoration: none;
}
hr {
  border-top: 1px solid #e7e7e7;
  margin-top: 12px;
  margin-bottom: 12px;
}

// helper classes
.normal {
  font-weight: normal;
}
.no-margin {
  margin: 0;
}
.error-msg {
  color: $color-banner-3;
  margin: 6px 2px;
}

// navbar
.navbar-default {
  background-color: $color-banner-2;
  .navbar-nav > li > a,
  .navbar-nav > li > a:focus {
    color: $color-accent-1;
  }
  .navbar-nav > li > a:hover {
    // border-bottom: 1px solid $color-primary-1;
    color: $color-primary-1;
  }
  .navbar-toggle,
  .navbar-toggle:focus {
    background-color: transparent;
    border-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    .icon-bar {
      background-color: $color-primary-3;
    }
  }
  .navbar-toggle:hover {
    background-color: transparent;
    .icon-bar {
      background-color: #167a6f;
    }
  }
}
.navbar-brand {
  height: 58px;
}
.dart-logo {
  color: $color-primary-3;
  font-size: 28px;
}
.logo-text {
  color: $color-primary-1;
  display: inline-block;
  font-size: 22px;
  margin: 4px 0 0 10px;
  vertical-align: top;
}

// page layout
.main-content {
  padding-top: 70px;
}

// buttons
.btn {
  border-radius: 2px;
  font-weight: 300;
  text-transform: uppercase;
}
.btn-xs {
  padding: 2px 6px;
}
.btn-cta,
.navbar-default .navbar-nav > li > a.btn-cta {
  background-color: $color-primary-3;
  color: $color-banner-2;
}
.btn-cta:hover,
.navbar-default .navbar-nav > li > a.btn-cta:hover {
  background-color: #167a6f;
  color: $color-banner-2;
}
.btn-secondary,
.navbar-default .navbar-nav > li > a.btn-secondary {
  background-color: $color-accent-1;
  color: $color-banner-2;
}
.btn-secondary:hover,
.navbar-default .navbar-nav > li > a.btn-secondary:hover {
  background-color: #717a8b;
  color: $color-banner-2;
}
.btn-light {
  // background-color: $color-accent-1;
  // background-color: #bac2ce;
  background-color: #c5ccd6;
  color: $color-banner-2;
}
.btn-light:not(.btn-flag):hover {
  background-color: #a3adbf;
  color: $color-banner-2;
}
.btn-flag, .btn-flag:hover {
  color: $color-banner-2;
  cursor: default;
  margin-right: 6px;
  text-transform: none;
}
.btn-flag:last-child {
  margin-right: 0;
}
.navbar-default .navbar-nav > li > a.btn-nav {
  margin: 12px 6px;
  padding: 6px 12px;
}

// jobs
.job {
  background-color: $color-banner-2;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 12px;
}

// social buttons
.btn-facebook {
  background-color: #3b5998;
  border: 1px solid #335190;
  color: #ffffff;
}
.btn-facebook:focus, .btn-facebook:hover {
  background-color: #294786;
  color: #ffffff;
}
.btn-google-plus {
  background-color: #dd4b39;
  border: 1px solid #d54331;
  color: #ffffff;
}
.btn-google-plus:focus, .btn-google-plus:hover {
  background-color: #cb3927;
  color: #ffffff;
}
.btn-github {
  background-color: #444;
  border: 1px solid #3b3b3b;
  color: #ffffff;
}
.btn-github:focus, .btn-github:hover {
  background-color: #303030;
  color: #ffffff;
}

// media queries
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a.btn-nav {
    display: inline-block;
    margin: 6px 15px;
  }
}