@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color-black: #2b2d42;
$color-green: #1b998b;
$color-green-hover: #167a6f;
$color-green-muted: #91ccc5;
$color-grey: #8d99ae;
$color-grey-hover: #717a8b;
$color-grey-light: #c5ccd6;
$color-grey-light-hover: #a3adbf;
$color-grey-bg: #edf2f4;
$color-grey-border: #e7e7e7;
$color-red: #e84855;
$color-white: #fefffe;

$color-hover-1: #ef233c;
$color-banner-1: #d90429;
$color-primary-2: #0b3954;
$color-accent-2: #ff6663;
$color-link-2: #bfd7ea;
$color-hover-2: #e0ff4f;
$color-accent-3: #2d3047;
$color-link-3: #fffd82;
$color-hover-3: #ff9b71;

.color {
  border: 1px solid #cccccc;
  height: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.color-1 { background-color: $color-black }
.color-2 { background-color: $color-grey }
.color-3 { background-color: $color-grey-bg }
.color-4 { background-color: $color-hover-1 }
.color-5 { background-color: $color-banner-1 }

.color-6 { background-color: $color-primary-2 }
.color-7 { background-color: $color-accent-2 }
.color-8 { background-color: $color-link-2 }
.color-9 { background-color: $color-hover-2 }
.color-10 { background-color: $color-white }

.color-11 { background-color: $color-green }
.color-12 { background-color: $color-accent-3 }
.color-13 { background-color: $color-link-3 }
.color-14 { background-color: $color-hover-3 }
.color-15 { background-color: $color-red }

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

// reset
body {
  background-color: $color-grey-bg;
  color: $color-black;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h3, h4 {
  font-weight: normal;
}
a, a:focus {
  color: $color-green;
  text-decoration: none;
}
a:hover {
  color: $color-green-hover;
  text-decoration: none;
}
hr {
  border-top: 1px solid $color-grey-border;
  margin-top: 12px;
  margin-bottom: 12px;
}

// helper classes
.normal {
  font-weight: normal;
}
.no-margin {
  margin: 0;
}
.bottom-margin {
  margin-bottom: 20px;
}
.error-msg {
  color: $color-red;
  margin: 6px 2px;
}

// navbar
.navbar-default {
  background-color: $color-white;
  .navbar-nav > li > a,
  .navbar-nav > li > a:focus {
    color: $color-grey;
  }
  .navbar-nav > li > a:hover {
    color: $color-black;
  }
  .navbar-nav > li > a.btn-nav {
    margin: 10px 6px;
    padding: 6px 12px;
  }
  .navbar-toggle,
  .navbar-toggle:focus {
    background-color: transparent;
    border-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    .icon-bar {
      background-color: $color-green;
    }
  }
  .navbar-toggle:hover {
    background-color: transparent;
    .icon-bar {
      background-color: $color-green-hover;
    }
  }
}
.navbar-brand {
  height: 54px;
  padding: 13px 15px;
}
.dart-logo {
  color: $color-green;
  font-size: 28px;
}
.logo-text {
  color: $color-black;
  display: inline-block;
  font-size: 22px;
  margin: 4px 0 0 10px;
  vertical-align: top;
}

// site layout
.view-wrapper {
  padding-top: 74px;
}
.content {
  background-color: $color-white;
  border: 1px solid $color-grey-border;
  border-radius: 2px;
  margin-bottom: 20px;
  padding: 12px;
}

// forms
.form-control {
  background-color  : $color-white;
  border            : 1px solid $color-grey-border;
  border-radius     : 2px;
  box-shadow        : none;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -ms-box-shadow    : none;
  -o-box-shadow     : none;
  color             : $color-black;
  padding           : 6px 10px;
}
.form-control:focus {
  border-color      : $color-green-muted;
  box-shadow        : none;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -ms-box-shadow    : none;
  -o-box-shadow     : none;
}

// buttons
.btn {
  border-radius: 2px;
  font-weight: 300;
}
.btn:active,
.btn.active {
  box-shadow        : none;
  -webkit-box-shadow: none;
  -moz-box-shadow   : none;
  -ms-box-shadow    : none;
  -o-box-shadow     : none;
}
.btn:active:focus {
  outline: none;
}
.btn-xs {
  padding: 2px 6px;
}
.btn-cta,
.btn-cta:focus,
.navbar-default .navbar-nav > li > a.btn-cta,
.navbar-default .navbar-nav > li > a.btn-cta:focus {
  background-color: $color-green;
  color: $color-white;
}
.btn-cta:hover,
.navbar-default .navbar-nav > li > a.btn-cta:hover {
  background-color: $color-green-hover;
  color: $color-white;
}
.btn-secondary,
.btn-secondary:focus,
.navbar-default .navbar-nav > li > a.btn-secondary,
.navbar-default .navbar-nav > li > a.btn-secondary:focus {
  background-color: $color-grey;
  color: $color-white;
}
.btn-secondary:hover,
.navbar-default .navbar-nav > li > a.btn-secondary:hover {
  background-color: $color-grey-hover;
  color: $color-white;
}
.btn-light,
.btn-light:focus,
.btn-light.btn-flag:hover {
  background-color: $color-grey-light;
  color: $color-white;
}
.btn-light:hover {
  background-color: $color-grey-light-hover;
  color: $color-white;
}
.btn-reverse,
.btn-reverse:focus,
.btn-reverse.btn-flag:hover {
  background-color: $color-white;
  border: 1px solid $color-green;
  color: $color-green;
}
.btn-reverse:hover {
  background-color: $color-green;
  color: $color-white;
}
.btn-flag {
  cursor: default;
  margin-right: 6px;
  margin-bottom: 6px;
}
.btn-flag:last-child {
  margin-right: 0;
}
.btn-flag:focus {
  outline: none;
}
.btn-dropdown,
.btn-dropdown:focus {
  background-color: $color-white;
  border: 1px solid $color-grey-border;
  color: $color-black;
}
.btn-dropdown:hover {
  background-color: #f5f5f5;
  color: $color-black;
}
.btn-dropdown {
  margin-right: 3px;
}
.btn-dropdown:last-child {
  margin-right: 0;
}

// social buttons
.btn-facebook,
.btn-facebook:focus {
  background-color: #3b5998;
  border: 1px solid #335190;
  color: $color-white;
}
.btn-facebook:hover {
  background-color: #294786;
  color: $color-white;
}
.btn-google-plus,
.btn-google-plus:focus {
  background-color: #dd4b39;
  border: 1px solid #d54331;
  color: $color-white;
}
.btn-google-plus:hover {
  background-color: #cb3927;
  color: $color-white;
}
.btn-github,
.btn-github:focus {
  background-color: #444;
  border: 1px solid #3b3b3b;
  color: $color-white;
}
.btn-github:hover {
  background-color: #303030;
  color: $color-white;
}

// jobs
.search-icon {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin: 2px 10px 0 0;
  vertical-align: top;
}
.searches {
  display: inline-block;
  width: calc(100% - 30px);
  vertical-align: top;
}
.bookmark-icon {
  font-size: 18px;
  line-height: 1;
  margin: 0 0 10px 10px;
  a:hover {
    color: $color-green;
  }
}

// signup / login
.auth-content {
  margin: 0 auto;
  max-width: 500px;
  padding: 12px 20px 32px 20px;
}
.auth-msg {
  p { margin: 10px 0; }
  h5 { margin-top: 16px; }
}

// media queries
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a.btn-nav {
    display: inline-block;
    margin: 5px 15px;
  }
}