.content {
  margin-top: 60px;
  margin-bottom: 40px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.company-img {
  float: left;
  height: 50px;
  margin-top: 15px;
  margin-right: 20px;
}

.company-img-sm {
  float: left;
  height: 40px;
  margin-top: 3px;
  margin-right: 15px;
}

.no-crunchbase {
  margin-top: 25px;
  color: rgba(0, 0, 0, .6);
}

.edit-btns {
  margin-top: 20px;
}

.skill {
  margin-right: 5px;
}

.skill-spaced {
  margin-right: 10px;
}

.signup-col {
  padding-left: 25px;
  padding-right: 25px;
}

.error-msg {
  color: rgba(255, 0, 0, 1);
}