@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

/* site styles */

body {
  background-color: rgba(253, 253, 253, 1);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  color: rgba(51, 51, 51, 1);
}

a:hover, #nav-link:hover {
  color: rgba(255, 0, 81, 1);
  text-decoration: none;
}

.content {
  margin-top: 60px;
  margin-bottom: 40px;
}

.logo {
  font-size: 2em
}

.navbar, #hamburger, #hamburger:hover {
  background-color: rgba(245, 245, 245, 1);
}

.success-msg {
  background-color: rgba(150, 234, 231, 1);
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
}

.error-msg {
  background-color: rgba(255, 199, 199, 1);
  padding: 5px 10px 5px 10px;
}

.exit {
  float: right;
  cursor: pointer;
}

.edit-btns button {
  font-weight: 400;
  margin-top: 30px;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgba(51, 51, 51, 1);
  background-color: rgba(253, 253, 253, 1);
}

.edit-btns button:hover {
  color: rgba(255, 0, 81, 1);
  border: 1px solid rgba(255, 0, 81, 1);
}

.edit-form, .new-form, .login-form {
  margin-top: 20px;
}

/* h2 edit-exit span */

#edit-exit {
  font-size: .5em;
  margin-top: 10px;
  margin-right: 2px;
}

/* h3 exit span */

#h3-exit {
  font-size: .6em;
  margin-top: 10px;
  margin-right: 2px;
}

#edit-exit:hover, #h3-exit:hover {
  color: rgba(255, 0, 81, 1);
}

.save-btn, .login-btn {
  font-weight: 400;
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgba(51, 51, 51, 1);
  background-color: rgba(253, 253, 253, 1);
}

.save-btn:hover, .login-btn:hover {
  color: rgba(255, 0, 81, 1);
  border: 1px solid rgba(255, 0, 81, 1);
}

.weight {
  font-weight: 400;
}

/* homepage styles (jobs) */

#dart {
  letter-spacing: 4px;
}

.filter {
  font-size: 1.1em;
  font-weight: 400;
  float: right;
  margin-top: -45px;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgba(51, 51, 51, 1);
  cursor: pointer;
}

.filter:hover {
  color: rgba(255, 0, 81, 1);
  border: 1px solid rgba(255, 0, 81, 1);
}

.filter-form {
  position: relative;
  background-color: rgba(150, 234, 231, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-right: 28px;
}

.filter-form input {
  margin-right: 5px;
}

.filter-form .exit {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 7px;
  margin-right: 10px;
}

.trending {
  margin-top: 25px;
  margin-bottom: 30px;
}

.job {
  margin-top: 25px;
}

.star {
  color: rgba(255, 0, 81, 1);
  font-size: .8em;
  margin-left: 5px;
}

.sub-heading {
  margin-top: 12px;
  margin-bottom: 12px;
}

.sub-heading span {
  margin-right: 7px;
}

.company {
  font-weight: 700;
}

.category {
  border: 1px solid rgba(255, 0, 81, 1);
  color: rgba(255, 0, 81, 1);
  font-size: .9em;
  padding: 3px 6px 3px 6px;
}

.details {
  margin-left: 5px;
}

.mini-arrow {
  margin-left: 2px;
}

.skill {
  margin-right: 5px;
}

.skill-spaced {
  margin-right: 10px;
}

/*company show page (profile page) styles*/

.clearfix {
  overflow: auto;
  zoom: 1;
}

.company-img {
  float: left;
  height: 50px;
  margin-top: 15px;
  margin-right: 25px;
}

#company-name {
  letter-spacing: 5px;
}

.no-crunchbase {
  margin-top: 22px;
}

.about-company {
  margin-top: 15px;
}

.company-links {
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.news {
  margin-top: 15px;
}

#job-list-top {
  border-top: 1px solid rgba(51, 51, 51, 1);
  margin-top: 20px;
  margin-bottom: 7px;
}

#job-list-bottom {
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  margin-top: 25px;
}

#post-job {
  letter-spacing: 1px;
  cursor: pointer;
}

#post-job:hover {
  color: rgba(255, 0, 81, 1);
}

.plus {
  font-size: 1.1em;
  margin-right: 5px;
}

.pencil-edit, .trash-delete {
  font-size: .75em;
  margin-left: 8px;
  cursor: pointer;
}

.pencil-edit:hover, .trash-delete:hover {
  color: rgba(255, 0, 81, 1);
}

/*job show page styles*/

#job-subheading {
  margin-top: 25px;
  margin-bottom: 25px;
}

#job-elements {
  margin-top: 20px;
  letter-spacing: 2px;
}

.company-img-sm {
  float: left;
  height: 40px;
  margin-top: 3px;
  margin-right: 15px;
}

#company-details {
  font-weight: 400;
}

/*seeker profile page styles*/

.saved-jobs {
  letter-spacing: 3px;
}

.no-saved-jobs {
  margin-top: 25px;
}

.favorites {
  border-top: 1px solid rgba(51, 51, 51, 1);
  border-bottom: 1px solid rgba(51, 51, 51, 1);
  margin-top: 20px;
  padding-top: 7px;
  padding-bottom: 20px;
}

/* ***** */

.signup-col {
  padding-left: 25px;
  padding-right: 25px;
}