<div ng-show="jobs.skills" class="row">
  <div class="col-sm-3">
    <div class="trending">
      <h3 ng-show="jobs.skills">Trending Skills</h3>
      <span ng-repeat="skill in jobs.skills | orderBy: '-jobs.length' | limitTo: 20">
        <span ng-show="skill.jobs.length" class="skill-spaced"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
      </span>
    </div>
  </div>

  <div class="col-sm-6">
    <p ng-show="deleteMsg" class="success-msg">Successfully deleted profile. <span ng-click="jobs.exitDeleteMsg()" class="exit">X</span></p>

    <h1 ng-hide="jobs.showFilter" id="dart">ALL JOBS</h1>
    <div ng-hide="jobs.showFilter" ng-click="jobs.showFilter=true" class="filter">Filter Jobs</div>

    <form ng-show="jobs.showFilter" class="form-inline filter-form">
      <div class="form-group">
        <input ng-model="search.location" class="form-control options" placeholder="Location">
      </div>
      <div class="form-group">
        <select ng-model="search.category" class="form-control options">
          <option value="" disabled selected>Category</option>
          <option>Full Stack</option>
          <option>Front End</option>
          <option>Back End</option>
          <option>Mobile - iOS</option>
          <option>Mobile - Android</option>
          <option>Other</option>
        </select>
      </div>
      <div ng-click="jobs.exitFilterForm(); search = undefined;" class="exit">X</div>
    </form>    

    <div ng-repeat="job in jobs.jobs | filter:search:strict | orderBy: 'clicks'" class="job">
      <h3>
        <a href="/companies/{{job.company.id}}/jobs/{{job.id}}">{{job.title}}</a>
        <span ng-show="currentUser.is_seeker">
          <span ng-hide="job.favorited" ng-click="favorite(currentUser.seeker, job)" class="glyphicon glyphicon-star-empty star"></span>
          <span ng-show="job.favorited" ng-click="unfavorite(currentUser.seeker, job)" class="glyphicon glyphicon-star star"></span>
        </span>
      </h3>

      <h5 class="sub-heading">
        <span class="category">{{job.category}}</span>
        <span class="company"><a href="/companies/{{job.company.id}}">{{job.company.name}}</a></span>
        <span>{{job.location}}</span>
      </h5>
      <p>
        {{job.description}}
        <span class="weight"><a class="details" href="/companies/{{job.company.id}}/jobs/{{job.id}}">Job Details <span class="mini-arrow">&#10172;</span></a></span>
      </p>
    </div>
  </div>

  <div class="col-sm-3"></div>
</div>