<div class="row">
  <div class="col-sm-3">
    <h3 ng-show="jobs.skills">Trending Skills</h3>
    <span ng-repeat="skill in jobs.skills | orderBy: '-jobs.length' | limitTo: 20">
      <span ng-show="skill.jobs.length" class="skill-spaced"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
    </span>
  </div>

  <div class="col-sm-9">
    <h1>All Jobs</h1>
    <div ng-repeat="job in jobs.jobs">
      <h4><a href="/companies/{{job.company.id}}/jobs/{{job.id}}">{{job.title}}</a></h4>
      <p>
        <a href="/companies/{{job.company.id}}">{{job.company.name}}</a> | 
        {{job.location}} | {{job.category}}
      </p>
      <p>{{job.description}}</p>
      <p ng-show="job.skills">
        <span class="skill"><strong>Skills:</strong></span>
        <span ng-repeat="skill in job.skills">
          <span class="skill"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
        </span>
      </p>
    </div>
  </div>
</div>