<div class="row">
  <div class="col-sm-7">

    <!-- job details - hide when updating job -->
    <div ng-hide="job.editForm">
      <h2>{{job.job.title}}</h2>
      <!-- show update message when a job is updated -->
      <p ng-show="job.updateMsg" class="success-msg">Job updated successfully.</p>
      <h5>
        <a href="/companies/{{job.job.company.id}}">{{job.job.company.name}}</a> | 
        {{job.job.location}} | {{job.job.category}}
      </h5>
      <h5>Description</h5>
      <p>{{job.job.description}}</p>

      <!-- list of skills related to a job -->
      <!-- hide when just updated job (show skill names instead - not clickable) -->
      <h5 ng-show="job.job.skills" ng-hide="job.job.skill_names">Skills</h5>
      <p ng-show="job.job.skills" ng-hide="job.job.skill_names">
        <span ng-repeat="skill in job.job.skills">
          <span class="skill"><a href="/skills/{{skill.id}}">#{{skill.name}}</a></span>
        </span>
      </p>

      <!-- show string of skill names when just updated job -->
      <h5 ng-show="job.job.skill_names" ng-hide="job.job.skills">Skills</h5>
      <p ng-show="job.job.skill_names" ng-hide="job.job.skills">
        {{job.job.skill_names}}
      </p>

      <h5>How to Apply</h5>
      <p>{{job.job.how_to_apply}}</p>
    </div>

    <!-- buttons to edit/delete job -->
    <div ng-hide="job.editForm" class="edit-btns">
      <button ng-click="job.editJob()" class="btn btn-primary">Edit Job</button> <button ng-click="job.deleteJob()" class="btn btn-danger">Delete Job</button>
    </div>

    <!-- form to edit a job -->
    <h2 ng-show="job.editForm">Edit Job</h2>
    <form ng-show="job.editForm" ng-submit="job.updateJob()" class="edit-form">
      <p>
        <input type="text" ng-model="job.job.title" class="form-control" placeholder="Title" required autofocus>
      </p>
      <p>
        <input type="text" ng-model="job.job.location" class="form-control" placeholder="Location (City, State)" required>
      </p>
      <p>
        <select ng-model="job.job.category" class="form-control options" required>
          <option value="" disabled selected>Category</option>
          <option>Full Stack</option>
          <option>Front End</option>
          <option>Back End</option>
          <option>Mobile - iOS</option>
          <option>Mobile - Android</option>
          <option>Other</option>
        </select>
      </p>
      <p>
        <textarea ng-model="job.job.description" class="form-control" placeholder="Description" required></textarea>
      </p>
      <p>
        <textarea ng-model="job.job.how_to_apply" class="form-control" placeholder="How to Apply" required></textarea>
      </p>
      <p>
        <input type="text" ng-model="job.job.skill_names" class="form-control" placeholder="Skills / Languages (separated by commas)" required>
      </p>
      <p>
        <button class="btn btn-primary">Save Job</button>
      </p>
    </form>
    <!-- end form to edit a job -->
  </div>

  <div class="col-sm-5">

    <h3 ng-show="job.job.company.profile">About {{job.job.company.name}}</h3>
    <div class="clearfix">
      <img ng-show="job.job.company.profile.relationships.primary_image.items[0].path" class="company-img-sm" src="http://a5.images.crunchbase.com/{{job.job.company.profile.relationships.primary_image.items[0].path}}">
      <p>
        {{job.job.company.profile.properties.short_description}} 
        <a href="/companies/{{job.job.company.id}}">Learn More &#10172;</a>
      </p>
    </div>

  </div>
</div>