<!DOCTYPE html>
<html>
<head>
  <title>DART</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="DartApp">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a id="navli" class ="navbar-brand" href="/">DART</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="navli" href="/">Profile</a></li>
          <li><a id="navli" href="/">Company Page</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="navli" href="/">Log In</a></li>
          <li><a id="navli" href="/">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container content">
    <div ng-view></div>
  </div>

</body>
</html>