<!DOCTYPE html>
<html>
<head>
  <title>D A R T</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="DartApp">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
       <button ng-mouseover="hoverStyle={'background-color':'rgba(255, 0, 81, 1)'}" ng-mouseleave="hoverStyle={'background-color':'rgba(119, 119, 119, 1)'}" type="button" class="navbar-toggle collapsed" id="hamburger" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span ng-style="hoverStyle" class="icon-bar"></span>
          <span ng-style="hoverStyle" class="icon-bar"></span>
          <span ng-style="hoverStyle" class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <a class="navbar-brand logo" id="nav-link" href="/">&#10172;</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a id="nav-link" href="/">Jobs</a></li>
          <li ng-show="currentUser.is_seeker"><a id="nav-link" href="/seekers/{{currentUser.seeker.id}}">Profile</a></li>
          <li ng-show="currentUser.is_company"><a id="nav-link" href="/companies/{{currentUser.company.id}}">Company Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!signed_in()"><a id="nav-link" href="/login">Log In</a></li>
          <li ng-show="!signed_in()"><a id="nav-link" href="/register">Register</a></li>
          <li ng-show="signed_in()"><a id="nav-link" href="" ng-click="sign_out()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container content">
    <div ng-view></div>
  </div>

</body>
</html>