<!DOCTYPE html>
<html ng-app="dartApp">
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag :application, media: :all %>
  <title>Dart</title>
</head>
<body>
  <%= yield %>
  <!--[if lte IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag :application %>
</body>
</html>